@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  /* Loader animation */
  @keyframes loaderBar {
    0%,
    100% {
      transform: scaleY(0.5);
      opacity: 0.4;
    }
    50% {
      transform: scaleY(1.4);
      opacity: 1;
    }
  }

  .animate-loaderBar {
    animation: loaderBar 1s ease-in-out infinite;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body,
p,
span,
button {
  font-family: "Satoshi", sans-serif;
}

button,
a {
  @apply inline-block cursor-pointer active:scale-95;
}

h1 {
  font-family: "Clash Display", sans-serif;
}

body {
  position: relative;
}

th,
td {
  text-align: center;
}

.center-section {
  @apply w-[80%] max-w-[900px] mx-auto;
}

.box {
  @apply px-[1rem] py-[0.5rem] flex flex-col gap-[1rem] border-1;
}

.upgrade-button {
  @apply px-[1rem] py-[0.5rem] cursor-pointer bg-black text-2xl text-white;
}

.cancel-subscription {
  @apply px-4 py-2 rounded-lg
         border border-red-300
         text-red-600 text-sm font-semibold
         hover:bg-red-50
         active:scale-[0.98]
         transition-all duration-200
         cursor-pointer;
}

.create-client {
  @apply px-1 py-2 bg-black text-white font-bold cursor-pointer rounded-[10px] flex items-center justify-center gap-3;
}

.loan-created-form {
  @apply flex flex-col gap-[0.8rem];

  & input,
  select {
    @apply p-2 w-full rounded-[10px] border-2 border-[#555] focus:outline-none;
  }
  & span {
    @apply ml-1 inline-block mb-[3px] text-[#555];
  }
}

.create-client-form {
  & input {
    @apply p-2 w-full rounded-[10px] border-2 border-[#555] focus:outline-none;
  }
}

.model-container {
  @apply h-full w-[100%] flex justify-center items-center fixed inset-0 bg-black/30 z-50 backdrop-blur-md;
}

.sidebar-container {
  @apply fixed inset-0 bg-black/30 backdrop-blur-md z-50 flex justify-end min-[760px]:hidden;
}

.active-link {
  @apply px-[10px] py-[5px] rounded-[10px] bg-[#efefef] font-bold;
}
